@import url("https://fonts.goggleapis.com/css?family=Roboto");

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav-bar-container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(199, 103, 103);
}

.nav-links {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #e6e6e6;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 5px 3px 3px rgb(54, 29, 29);
}

.nav-links:active {
    background-color: lightblue;
  }

.nav-bar-title {
    flex-grow: 1;
    text-align: center;
    margin-right: 200px;
    padding-right: 200px;
}

.logo {
    margin-right: 100px;
    height: 100px;
    width: 125px;
    /* box-shadow: 5px 3px 5px rgb(199, 103, 103);
    border-radius: 25px; */
}

.nav-bar {
    background-color: pink;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CARDS~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.project-header {
  text-align: center;
  padding-top: 35px;
  font-family: script MT;
}

.project-list {
text-align: center;
}

.centered {
  justify-content: center !important;
  align-items: center;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CAROUSEL~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.carousel-image {
  height: 200px;
  width: 200px;
}

.carousel-component-container {
  margin: 0;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.carousel-container {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-container {
white-space: nowrap;
transition: transform 0.3s;
}

.carousel-item {
display: inline-flex;
align-items: center;
justify-content: center;
height: 490px;
background-color: #fff;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.arrow-buttons {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: rgb(219, 109, 128);
}